*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: rgb(129, 133, 137)
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  border: 5px;

}

.calculator-grid>button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  border-radius: 10px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
}

.calculator-grid>button:hover {
  background-color: rgba(255, 255, 255, 0.90);
}

.span-two {
  grid-column: 2 span;
}

.screen {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  border-radius: 10px;
}

.screen #operation {
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
}

.screen #result {
  color: rgba(255, 255, 255, 1);
  font-size: 2rem;
}